.el-carousel__item{
    background: #99a9bf;
}
.el-carousel__item>h3{
    padding-top: 150px;
    font-size: 30px;
}

ol.news-title{
    height: 400px;
}
ol.news-title>li{
    height: 50px;
    line-height: 50px;
    text-align: center;
}